<div class="bentogo-dashboard-area">
	<h2 class="small--text-center">全国の利用状況 powerd by BenToGo</h2> 
	<iframe width="800" height="450" src="https://datastudio.google.com/embed/reporting/10d85a5f-6ca3-44d7-8ea6-4f1753e04b74/page/Qk8KB" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>